/* Escribe aqui tu CSS */
div{
	width: 220px;
	height: 220px;
	border:solid 20px yellow;
	padding:15px;
	margin: 10px;
	text-align: center;
	}
.contenedor{
			width: 80%;
			height: 80%;
			border:solid 2px gray;
			padding:15px;
			margin: auto;
			}
.derecha{
		margin-left: 50%;

		}